body {
font-family: avenue;
}


h1 {
padding: 10%;
}

h1 {
  letter-spacing: 0.2em;
background-color: #00ffff;
  font-style: courier;
}

h2 {
color: #000000;
}

p {
  color: #000000;
  font-style: avenue;
font-weight: bold;
}

a {
font-style: avenue, sans sherif;
}
