body{
font-family: sans sherif;
  text-align: center;
}
h1 {
padding: 10%;
}

h1{
backgroundcolor: #00ffff;
text-align: center;
}

p{
font-weight: bold;
}

a {
font-family: courier new body copy, sans sherif;
}
